@font-face {
    font-family: 'nickelodeon';
    src: url('nickelodeon.woff2') format('woff2'),
        url('nickelodeon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

